* {
  margin: 0;
  padding: 0;
}
body {
  background: rgb(12, 73, 53);
}

.wrapper {
  width: 1100px;
  height: 600px;
  overflow: hidden;
  border: 10px solid white;
}
.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navigation {
  position: absolute;
  bottom: 16px;
  left: 50px;
  transform: translateX(-50%);
  display: flex;
}
.bar {
  width: 30px;
  height: 8px;
  margin: 6px;
  cursor: pointer;
  background: rgb(228, 6, 6);
  opacity: 0.5;
  border-radius: 10px;
  transition: all .4s ease;
}
